bottle==0.12.25
bottle-websocket==0.2.9
certifi==2020.11.8
cffi==1.14.4
Eel==0.16.0
future==0.18.2
fuzzywuzzy==0.18.0
idna==3.4
numpy==1.26.0
opencv-python==4.8.0.76
parse==1.19.0
Pillow==10.0.1
psutil==5.9.5
PyAudio==0.2.13
pycparser==2.21
pydub==0.25.1
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
pynput==1.7.6
pyobjc-framework-Quartz>=9.0,<10.0; sys_platform == 'darwin'
pyobjc-framework-Vision>=9.0,<10.0; sys_platform == 'darwin'
pyparsing==2.4.7
pyperclip==1.8.2
pytesseract==0.3.10
python-xlib==0.29
python-Levenshtein==0.12.2
pywin32-ctypes==0.2.0
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
SudachiDict-small==20230711
SudachiPy==0.6.7
tk==0.1.0
transformers==4.27.4
translators==5.8.3
urllib3==1.26.2
whichcraft==0.6.1
wexpect==4.0.0; sys_platform == 'win32'
wurlitzer>=3.0.2,<4.0.0; sys_platform == 'darwin'
zope.event==5.0
zope.interface==6.0
