html {
    scroll-behavior: smooth;
}
#loadingLogsScreen {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation: fadein 0.6s;
    animation: fadein 0.6s;
}
#loadingLogsCaption {
    font-size: 22px;
    text-align: center;
}
#gameScriptLoader {
    background: #2e2e2e;
    color: white;
    min-height: 20px;
    padding: 12px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
#gameScriptLoader > i, span, select {
    padding-right: 10px
}
.logItem {
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: background-color;  
    -webkit-animation: fadein 0.6s;
    animation: fadein 0.6s;
}
.logItem:hover, .matchingScriptMenuCard > .mdl-list > .mdl-list__item:hover, .logMenuCard > .mdl-list > .mdl-list__item:hover {
    background-color: #eee;
}
.mdl-list__item-primary-content > .logMenuButton {
   visibility: hidden;
}
.mdl-list__item-primary-content:hover > .logMenuButton {
   visibility: visible;
}
.matchingScriptMenuCard > .mdl-list > .mdl-list__item {
    cursor: pointer;
    font-size: 16px;
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: background-color;  
    -webkit-animation: fadein 0.6s;
    animation: fadein 0.6s;
}
.logMenuCard > .mdl-list {
    padding: 0
}
.logMenuCard > .mdl-list > .mdl-list__item {
    cursor: pointer;
    font-size: 16px;
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: background-color;  
    -webkit-animation: fadein 0.6s;
    animation: fadein 0.6s;
}
.matchingScriptMenuCard {
    min-width: 500px;
}
.logMenuCard {
    width: 180px;
    min-height: 0px;
}
.disabled_list__item {
    pointer-events: none;
    color: #BDBDBD;
}
.note-add-icon:hover {
    color: #E21549
}
.playAudioButton .recordAudioButton {
    margin-right: 0.2em;
}
.logSecondaryActionGroup {
    min-width: 70px;
}
.addCardScreenshot {
   width: 100%;
   display: block;
}
.addCardFormField {
    font-size: 22px;
}
.addToAnkiButton:hover {
    filter: brightness(150%);
}
.tippy-box[data-theme~='material-light'] {
    background-color: white;
    color: black;
}
.demo-card-square.mdl-card {
    height: 400px;
}
.addCardBody {
    padding: 0px;
}
.addCardBodyList {
    max-height: 220px;
    overflow-y: auto;
}
.addCardBodyContainer > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}